.alert_container {
    width: 100%;
}

.inactive_value {
    display: none;
}

.active_value {
    display: inline;
}

.alert_trigger_field_container {
    display: inline;
}

.alert_trigger_operator_container {
    display: inline;
}

.alert_trigger_value_container {
    display: inline;
}

.alert_trigger_action_container {
    display: inline;
}

.alert_action_fields_container {
    display: inline;
}

.alert_action_repeat_container {
    display: inline;
}

.alert_delay_setting_container {
  margin-top: 10px;
}

.alert_label {
  font-weight: bold;
}

input[type="number"], input[type="email"] {
  max-width: 200px;
}
