.alert_container {
    width: 100%;
}

.alert_trigger_fields_container {
    display: none;
}

.alert_trigger_field_container {
    display: inline;
}

.alert_trigger_operator_container {
    display: inline;
}

.alert_trigger_value_container {
    display: inline;
}

.alert_trigger_value_custom_value {
    display: none;
}

.alert_trigger_action_container {
    display: inline;
}

.alert_action_fields_container {
    display: inline;
}

.alert_action_field {
  display: none;
}

.alert_action_repeat_container {
    display: inline;
}

.alert_setting {
  display: none;
  margin-top: 10px;
}

.alert_label {
  font-weight: bold;
}

input[type="number"] {
  max-width: 200px;
}
